.content{
    .container{
        h2{
            font-size: 28px;
        }
        p{
            font-size: 17px;
            &:nth-child(even){
                margin: 12px 0;
            }
            a{
                padding-left: 6px;
            }
        }
    }
}