$mainCol: #24e9b8;
$hoverRef: #1bdaaa;

.Navbar {
  background: $mainCol;
  .Navbar__container {
    padding: 0px 20px;
    .Navbar__row {
      display: flex;
      justify-content: space-between;
      .Navbar__title {
        color: #ffffff;
        font-size: 32px;
        letter-spacing: 0.5px;
        align-self: center;
      }
      .Navbar__refs {
        display: flex;
        div {
          padding: 20px 11px;
          font-size: 16px;
          transition: background 0.1s ease-in;
          a {
            color: #ffffff;
          }
        }
        div:nth-child(even) {
          margin: 0px 6px;
        }
        div:hover {
            background: $hoverRef;
        }
      }
    }
  }
}
